*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62%;
}

body{
    background-color: #F2F1F4;
    margin: 0;
    font-family: Helvetica, Arial;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
}

header img{
    width: 10%;
}

header{
    text-align: center;
}

nav{
    background-color: #26AE98;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #F2F1F4;
    display: block;
    padding: 20px 0;
}

nav a:hover{
    background-color: #88bab2;
    transition: all 0.5s ease 0s;
}

.container{
    margin: 15px;
}

h1, h2{
    text-transform: uppercase;
    border-bottom: 1px solid #26AE98;
    color: #26AE98;
}

span{
    color: #26AE98;
}

aside{
    display: none;
}

@media (min-width: 768px){

    aside{
        display: block;
        background-color: rgb(156, 230, 156);
        padding:  20px;
    }
}

@media (min-width: 1024px){
    .container{
        width: 80%;
        margin: 0 auto;
    }

    nav a{
        display: inline-block;
        width: 30%;
    }

    section{
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding: 30px 10px 20px 0;
    }

    aside{
        display: inline-block;
        width: 30%;
    }
}