body{
    background-image: url('../img/fond.png');
}

header, button{
    background-color: #B9CB21;
}

nav a{
    color: black;
    font-weight: bold;
}

header, main, footer{
    width: 750px;
    margin: 0 auto !important;
}

h2{
    color: #B9CB21;
    text-transform: uppercase;
}

button{
    color: white;
    border: 0;
    padding: 5px;
}

img{
    max-width: 100% !important;
}
/* section div img{
    width: 10%;
} */


@media (max-width: 500px){
    header, main, footer{
        width: 100%;
    }

    button{
        width: 100%;
    }
}