body{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
    width: 25%;
}

header{
    margin-bottom: 30px;
    background-color: gray;
    padding: 10px;
}

header img{
    width: 10%;
}

h1{
    display: inline-block;
    text-align: center;
}

a{
    text-decoration: none;
    background-color: green;
    padding: 5px;
}

main{
    display: flex;
    padding: 15px;
}

/* aside{
    flex: 2;
}

section{
    flex: 1;
} */



/* Version Tablette */
@media (max-width: 768px){

    nav a{
        display: inline-block;
        margin-top: 2px;
    }

    main{
        flex-direction: column;
    }

    aside{
        background-color: azure;
    }
} 

/*  Version mobile */
@media (max-width: 600px){
    nav a{
        display: block;
        text-align: center;
    }

    aside{
        display: none;
    }
}